@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);
body {
    margin: 0;
    padding: 0;
}

#y_title {
    color: #292F36;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 10px;
}
#m_title {
    color: #6699CC;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}
#m_title_en {
    color: #D9D9D9;
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
}
#d_title {
    color: #4ECDC4;
    font-size: 18rem;
    font-family: 'Josefin Sans', sans-serif;
}
#w_title {
    color: #FF8C42;
    font-size: 4rem;
    font-family: 'Noto Sans Kannada', sans-serif;
}
#w_title_en {
    color: #FF8C42;
    font-size: 2rem;
    line-height: 14px
}
#ch_title, #holiday{
    color: #FF6B6B;
    font-size: 2rem;
    font-family: 'Noto Sans Kannada', sans-serif;
}
#holiday {
	color: #FFBF00;
}
.isholiday {
    color: #E83F6F !important;
}
.dark {
    background-color: #333 !important;
    color: #80ff00 !important;
}